<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Counter App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center" data-ng-controller="numController">
      <h1 class="text-center mt-4">AngularJS Counter</h1> 
      <button
          class="col-lg-3 col-md-4 col-sm-8 btn btn-danger border mt-4 cursor-pointer"
          ng-click="reset()"
        >
          Reset
        </button>
      <div
        class="container-fluid col-lg-4 col-md-5 col-sm-10 border border-secondary rounded flex flex-column justify-content-between align-items-center mt-4 p-4 text-bg-dark text-center"
        
      >
        <h3>Counter</h3>
        <h1>{{number}}</h1>
        <div class="flex flex-row justify-content-between">
          <button
            class="col-4 btn btn-primary border m-2 p-2 cursor-pointer"
            ng-click="increase()"
          >
            +
          </button>
          <button
            class="col-4 btn btn-primary border m-2 p-2 cursor-pointer"
            ng-click="decrease()"
          >
            -
          </button>
        </div>
        
      </div>
    </div>
    <script src="./script.js"></script>
  </body>
</html>
